In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
opensea = pd.read_csv("/Users/jungle/Documents/GitHub/nfts/csv/opensea.csv")

In [4]:
solsea = pd.read_csv("/Users/jungle/Documents/GitHub/nfts/csv/solsea.csv")

In [6]:
solsea.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
#solsea_sample = solsea.sample(15)
solsea = solsea.dropna()
solsea['Growth in %'] = solsea.apply(lambda row: row['30dAvg Price']  / row['Floor Price'] * 100 , axis=1).round(2)
solsea.head()

,Title,30dVolume,30dSales,30dAvg Price,Floor Price,Items,Growth in %
0,I'M AIKO,4411.81,1172,3.76,2.49,1087,151.00
1,Dapper Apes,901.12,260,3.47,2.95,20,117.63
2,OG Astro Babies,602.83,215,2.80,1.65,92,169.70
3,Message Party,600.15,190,3.16,2.20,7,143.64
4,Astro Baby Apes,587.06,411,1.43,0.70,178,204.29

In [8]:
#opensea_sample = opensea.sample(15)
opensea = opensea.dropna()
opensea['Growth in %'] = opensea.apply(lambda row: row['30dAvg Price']  / row['Floor Price'] * 100 , axis=1).round(2)
opensea.head()

,Title,30dVolume,30dSales,30dAvg Price,Floor Price,Items,Growth in %
0,Karafuru,35848.15,8784.0,4.08,2.30,5554.0,177.39
1,Azuki,34218.46,2476.0,13.82,9.99,10000.0,138.34
2,Bored Ape,31983.18,299.0,106.97,82.00,10000.0,130.45
4,Invisible Friends,29476.04,3334.0,8.84,8.30,5000.0,106.51
5,Clonex,28571.53,1514.0,18.87,12.00,18961.0,157.25

In [9]:
import researchpy as rp
#https://www.pythonfordatascience.org/independent-samples-t-test-python/

summary, results = rp.ttest(group1= solsea['Growth in %'], group1_name= "Solsea",
                         group2= opensea['Growth in %'], group2_name= "Opensea")
print(summary)

   Variable      N        Mean          SD         SE   95% Conf.    Interval
0    Solsea   96.0  267.960625  708.742101  72.335688  124.356128  411.565122
1   Opensea   29.0  209.833103  111.597170  20.723074  167.383810  252.282397
2  combined  125.0  254.475040  623.103073  55.732033  144.165735  364.784345

In [11]:
from scipy.stats import ttest_ind
#H0 - growth in SOL collections greater than ETH ; H1 - growth in SOL collections less than or equal ETH

ttest_ind(solsea['Growth in %'], opensea['Growth in %'], alternative = "less")

Ttest_indResult(statistic=0.4388164694600873, pvalue=0.669217815908512)

In [12]:
alpha = 0.05
sample = 20
a = np.random.choice(solsea['Growth in %'], sample)
b = np.random.choice(opensea['Growth in %'], sample)


def compare_2_groups(a, b, alpha, sample):
    stat, p = ttest_ind(a, b, alternative = "less")
    print('Statistics=%.3f, p=%.3f' % (stat, p))
    if p > alpha:
        print('fail to reject H0')
    else:
        print('reject H0')

compare_2_groups(a, b, alpha, sample)

Statistics=0.490, p=0.686
fail to reject H0

In [71]:
#H0 - growth in ETH collections greater than SOL ; H1 - growth in ETH collections less than or equal SOL
#ttest_ind(opensea['Growth in %'], solsea['Growth in %'], alternative = "less")